<footer class="bg-amarillo-sazon">
  <div class="flex-row justify-around px-4 md:flex">
    <div class="flex justify-center ml-5 cursor-pointer pt-10 pb-10">
      <img
        src="../../../assets/resources/logo_oficial_negro.svg"
        alt=""
        class="w-36 md:w-40 cursor-pointer"
      />
    </div>

    <div
      class="flex-col text-center content-around py-5 border-t border-white md:border-none"
    >
      <h1 class="text-xl mb-3">Contactenos</h1>
      <div class="flex gap-2 justify-center">
        <a
          href="mailto:sazondebueno@gmail.com"
          class="text-gray-500 hover:text-black border-amarillo-sazon"
          >sazondebueno&#64;gmail.com</a
        >
      </div>
    </div>

    <div class="flex-col text-center justify-center items-center py-5">
      <h1 class="text-xl mb-3">Nuestras redes</h1>
      <div class="flex gap-1 justify-center items-center">
        <a href="" class="border-negro-sazon w-12 md:w-[49px]">
          <img src="../../../assets/resources/whatsapp.svg" alt="" />
        </a>
        <a href="#" class="border-negro-sazon w-10 md:w-[40px]">
          <img src="../../../assets/resources/facebook2.svg" alt="" />
        </a>
        <a
          href=""
          class="hover:opacity-85 border-negro-sazon w-10 md:w-[40px] ml-1"
        >
          <img src="../../../assets/resources/instagram2.svg" alt="" />
        </a>
      </div>
    </div>
  </div>
</footer>
