<div class="bg-gray-50 w-full p-3 rounded cursor-pointer text-[12px]">
  <div class="flex items-center gap-3 justify-between">
    <div class="flex gap-3 items-center">
      <div>
        <ng-icon name="bootstrapPersonCircle" size="30"></ng-icon>
      </div>
      <div class="flex flex-col">
        <span>Maria Hernandez</span>
        <span>17/05/2020</span>
      </div>
    </div>

    <span>5:30 pm</span>
  </div>
  <div class="mt-2">
    <span
      >Buena tarde es mi primera receta que hago de tu extenso recetario ..ya
      está en el horno…te contaré como quedó. Gracias. Lorem ipsum dolor, sit
      amet consectetur adipisicing elit. Ipsum dicta architecto quasi harum ea
      mins dolore. Dolorem quasi illo enim.</span
    >
  </div>
</div>
