<div class="mt-[140px] md:mx-20 mb-10">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
      <thead class="text-xs text-gray-700 uppercase">
        <tr>
          <th scope="col" class="px-6 py-3 bg-gray-50">Receta</th>
          <th scope="col" class="px-6 py-3">Categoria</th>
          <th scope="col" class="px-6 py-3 bg-gray-50">Dificultad</th>
          <th scope="col" class="px-6 py-3">Fecha</th>
          <th scope="col" class="px-6 py-3">Hora</th>
          <th scope="col" class="px-6 py-3">Descripción</th>
          <th scope="col" class="px-6 py-3">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (item of myRecipes; track $index) {

        <tr class="border-b border-gray-200 hover:bg-gray-100">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
          >
            {{ item.name }}
          </th>
          <td class="px-6 py-4">{{ item.category }}</td>
          <td class="px-6 py-4">
            {{ item.difficulty }}
          </td>
          <td class="px-6 py-4">{{ item.createdAt | date : "shortDate" }}</td>
          <td class="px-6 py-4">{{ item.createdAt | date : "shortTime" }}</td>
          <td class="px-6 py-4">{{ item.description }}</td>
          <td class="px-6 py-4">
            <div class="flex gap-3">
              <ng-icon
                name="heroPencilSquare"
                size="20"
                class="text-amarillo-sazon cursor-pointer hover:opacity-80"
                (click)="editRecipe(item.id)"
              ></ng-icon
              ><ng-icon
                name="heroTrash"
                size="20"
                class="text-red-500 cursor-pointer hover:opacity-80"
                (click)="deleteRecipe(item.id)"
              ></ng-icon>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
